body {
	margin: 0;
}

.website {
	background-color: #E8ECEB;
	font-family: Helvetica, sans-serif;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.align {
	margin-left: 200px;
	margin-right: 200px;
	background-color: #fff7e4;
}

.intro {
	display: block;
	background-color:black;
	color:white;
	padding:20px;
}


.topdownli {
	font-size: 18px;
	font: italic;
	border-right: 1px solid #202D38;
	float: left;
}

.navbar {
  background-color: #2D3E4E;
  border: 0.1px solid #222;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #D9DCDF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 1;
}


.navbar a:hover {
  background-color: #8CBDB9;
  opacity: 0.6;
  transition: 0.3s;
}

.active {
	background-color: #78A09D;
}

.headstyle {
	background-color: #2D3E4E;
    padding: 20px;
    width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #D9DCDF;
	border: 1px solid #1F2B36;
}

.pstyle0 {
	background-color: #E09E50;
	border-radius: 15px;
    padding: 20px;
    width: auto;
	text-align: left;
	margin-left: 240px;
	margin-right: auto;
	border-style: outset;
}

.pstyle1 {
	background-color: #E09E50;
	border-radius: 15px;
    padding: 20px;
    width: auto;
	text-align: left;
	margin-left: auto;
	margin-right: 410px;
	border-style: outset;
}

.pstyle2 {
	background-color: #8CBDB9;
	border-radius: 10px;
    padding: 20px;
    width: auto;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	border-style: outset;
}

.tab {
    display: inline-block;
    margin-left: 30px;
}

.imgwrapl {
	float: left;
}

.imgwrapr {
	float: right;
}