.website {
	background-color:#f5f1d0;
	font: times;
}

.title {
	font: bold italic 32px/16px times;
	text-align: center;
}

.heading {
	text-align: center;
}

.topdownli {
	font-size: 18px;
	font: italic;
	border-right: 1px solid #bbb;
	float: left;
}

.header {
  border: 0.5rem ridge #dca298;
  border-radius: 12px;
  font: bold 24px times;
  margin: 10px;
  padding: 10px;
  outline-offset: 5px;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.align {
	margin-left: 200px;
	margin-right: 200px;
	background-color: #fff7e4;
}

.active {
	background-color: #dca298;
}

.intro {
	display: block;
	background-color:black;
	color:white;
	padding:20px;
}

.webheading {
	background-color: #333;
	border: 1px solid #222;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
	top: 0px;
	width: 100%;
}


.navbar {
  background-color: #333;
  border: 1px solid #222;
  overflow: hidden;
  border-radius: 10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-right: 1px solid #bbb;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #eecdbb;
}

.dropdown .dropbtn1 {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #dca298;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn1 {
  background-color: #eecdbb;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #eecdbb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pstyle {
	background-color: #6dc9c9;
	border-radius: 25px;
    padding: 20px;
    width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: outset;
}

.headstyle {
	background-color: #52ADAD;
	border-radius: 25px;
    padding: 20px;
    width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
}
